.Buttons{
    display: flex;

    justify-content: space-between;
    height: 100px;

}
.Buttons>button{
    margin-top: 10px;
    height: 50px;
   border-radius: 15px;
    background-color: #000000;
    color: snow;
    font-weight: bold;
    cursor: pointer;
}